<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
      <div class="container">
        <h1 class="heading">BE<span class="bold-text">GLASSES</span></h1>
      </div>

      <div class="nav-bar">
        <ul class="nav-list">
          <li><a href=""> HOME </a></li>
          <li><a href=""> OUR COMPANY </a></li>
          <li><a href=""> BEGLASSES </a></li>
          <li><a href=""> BRANDS </a></li>
          <li><a href=""> CONTACT INFO </a></li>
          <li><a href=""> BUY NOW </a></li>
        </ul>
      </div>
    </div>

    <hr>
        <%-body %>    
    <hr>

</body>
</html>